<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Contacts App</title>

    <link
      href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/cerulean/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-LV/SIoc08vbV9CCeAwiz7RJZMI5YntsH8rGov0Y2nysmepqMWVvJqds6y0RaxIXT"
      crossorigin="anonymous"
    />
    <script defer src="main.js"></script>
  </head>
  <body style="text-align: center; margin: auto;">
    <br />
    <br />
    <% if(error) {%> 
      <%- include('error', { errorMessage: errorMessage }); %>
    <% } %>

    <% if(!error && !auth) {%> 
      <%- include('auth/signup', {}); %> 
      <%- include('auth/signin', {}); %> 
    <% } else if(auth) { %>
      <h2>CONTACTS:</h2>
      <%- include('contacts/list', {}); %>
      <%- include('contacts/add-contact', {token: token}); %>
    <% } %>
  </body>
</html>
